<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"> A certified Data professional with proficiency in tools like Excel, Powerbi, SQL, Python for data analysis, machine Learning and Crafting actionable insights from raw data, I navigate the complex terrain of algorithms and analytics to unravel the story hidden within the numbers. Precision in every model, impact in every decision. 📈💡 #DataScience #AnalyticsExper</p>
                <a href="#" class="btn btn-default btn-xl"> Lets' Get Started!</a>
            </div>
        </div>
    </div>
</section>
